:root {
    --background: #282a36;
    --current-line: #44475a;
    --foreground: #f8f8f2;
    --comment: #566ba8;
    --cyan: #8be9fd;
    --green: #268d40;
    --orange: #965921;
    --pink: #ff79c6;
    --purple: #bd93f9;
    --red: #ff3434;
    --yellow: #f1fa8c;
    --button-bg: var(--comment);
    --button-hover-bg: var(--background);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    background: linear-gradient(to bottom, #222, #181818); /* Subtle gradient */
    color: var(--foreground);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container {
    max-width: 800px;
    margin: 8px;
    padding: 0;
    background-color: #282a36; /* A little darker */
    border: 1px solid rgba(120,120,120,0.3); /* add light border*/
    padding: 20px;
    border-radius: 10px; /*rounded edges for appeal*/
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  
  header {
    background-color: var(--current-line);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #itemListText {
    font-size: 1.2rem; /* Slightly larger font size */
    font-weight: 600; /* Bolder text */
  }
  
  button {
    border-radius: 8px; /* More rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 8px 15px; /* More padding */
  }

  .item {
    margin-bottom: 15px; /* Added more margin */
  }

  #logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  #logo {
    width: 40px;
    height: 40px;
    transition: opacity 0.5s ease;
    opacity: 1;
    margin-right: 10px;
    object-fit: cover;
  }
  
  
  #itemInputContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
    background-color: var(--background);
    border-radius: 5px;
    gap: 10px;
  }
  
  #itemInputContainer > input {
    margin-bottom: 10px;
    background-color: var(--background);
    color: var(--foreground);
    border: 1px solid var(--comment);
    padding: 5px;
    border-radius: 5px;
  
  }
  
  #itemInputContainer > div {
    display: flex;
    justify-content: space-between;
  }
  
  #newItemInput {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    text-align: right;
    background-color: var(--background);
    color: var(--foreground);
    border: 1px solid var(--comment);
  }
  
  
  #clearItemsButton, #addItemButton, .item-button, .remove-button, .edit-display-button {
    background-color: var(--button-bg);
    color: var(--foreground);
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-left: 5px;
  }
  
  #clearItemsButton:hover, #addItemButton:hover, .item-button:hover, .remove-button:hover, .edit-display-button:hover {
    background-color: rgba(var(--button-bg), 0.8);
  }
  
  
  #clearItemsButton {
    background-color: var(--red);
  }
  
  #addItemButton {
      background-color: var(--green);
  }
  
  .remove-button {
    background-color: var(--red);
  }
  
  .edit-display-button {
    background-color: var(--orange);
  }
  
  
  .item-list-container {
    overflow-y: auto;
    background-color: var(--background);
    border-radius: 5px;
    padding: 10px;
  }
  
  .item-list {
    list-style: none;
    margin: 0;
    padding: 10px 0;
  }
  
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid var(--comment);
    padding: 15px;
    background-color: var(--background);
    border-radius: 5px;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999; /*Increased z-index to ensure it goes over everything else */
    background: rgba(0,0,0, 0.7);  /*Dark background*/
    backdrop-filter: blur(4px);
  }

  .overlay > div {
    padding: 30px;                
    background-color: #333; /* Dark grey background for the modal content */
    color: white;                /* White text for readability */
    border-radius: 10px;            
    max-width: 80%;              
    box-shadow: 0 0 10px rgba(0,0,0,0.4); /* Add shadow to pop out more */
    text-align: left;  
    z-index: 1000;
  }
  .overlay > div h3 {
    font-weight: 600;                  /* give more visual impact */
    margin-bottom: 10px;                /* some separation before text */
  }
  
  
  @media (max-width: 769px) {
    #newItemInput {
      text-align: right;
    }
    #itemInputContainer > div {
      flex-direction: column;
    }
    #itemInputContainer > div > button {
      width: 100%;
      margin-bottom: 5px;
    }
    #itemInputContainer > div > *:last-child {
      margin-bottom: 0;
    }
  }


